@model IEnumerable<movies.Models.Customer>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>
        <th>
            Customers
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cust in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(cust.Name, "Details", "Customer", new {id = cust.Id}, null)
            </td>
        </tr>
    }
    </tbody>
</table>