@model IEnumerable<movies.Models.Customer>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>Sorry no customers yet</p>
}
else
{
    <table class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th>
                Customers
            </th>
            <th>Discount Rate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(cust.Name, "Details", "Customer", new {id = cust.Id}, null)
                </td>
                <td>
                    @cust.MembershipType.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
}
